<html>
<head>

</head>

<body>
    <h1>Welcome to Generaleitor</h1>
{#    <p>Test</p>#}

{#

This file is a jinja2 template that will be rendered by the python script
It is the main screen of a generala game score tracker.

Show welcome message and buttons with game options

New Game
#}

    <grid>
        <row>
            <button>Start New Game</button>
        </row>
        <row>
            <button>Exit</button>
        </row>
    </grid>

</body>

</html>